<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="/assets/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/assets/stylesheets/agreement.css" rel="stylesheet">
    <!--[if lt IE 8 ]>
    <script src="http://s2.pstatp.com/js/lib/json2.js"></script>
    <![endif]-->
    <title>旅行派——注册协议</title>
    <style>
        body{font-size: 13px;}
        #body-01{padding-bottom:0px;}
        h4.title{text-align:center;}
        span{display:block;text-indent: 16px;line-height: 24px;word-wrap:break-word;}
        #user_info span{display:inline-block;}
        .copyright{display:inline;}
        .term{font-weight:bold;margin:36px 0 24px;color:#323232;}
        #new_user_wrapper{margin:0;padding-right: 20px;height:2em;}
        #logo img{width:1.8em;height:1.8em;}
        #logo{padding: 10px 0;}
        .web_enter{
            width: 24px;
            height: 80px;
            display: block;
            background: transparent;
        }
        .back_top{
            width: 24px;
            height: 24px;
            display: block;
            background: transparent;
        }
        .back_top:hover{
            background-position:0px 0px;
        }
        .title{
            font-size: 20px;
            color: rgb(150,150,150);
            margin: 18px 0px;
        }
        .container{
            color:rgb(59,50,50);
            position: inherit;
            font-size: 16px;
        }
        ol li{line-height: 24px;}
        #div-01{width: initial}
        #p-01{text-indent:16px;line-height:24px;}
        #p-02{font-size:12px;}
        #img-01{width:24px;height:24px;}
        #img-02{width:24px;height:80px;}

    </style>
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <script>
        $(function(){
            $('.back_top').click(function(){
                $('body,html').animate({'scrollTop':0},200);
            })
        })
    </script>
</head>

<body id="body-01">
    <div id = "div-01" class="container static_txt">
        <h4 class="title">旅行派用户注册协议</h4>
        <p id="p-01">任何用户在使用旅行派前，必须认真阅读并保证遵守本协议全部条款，用户在同意本协议的基础上方能申请注册。本协议系您与雪见科技有限公司就您登录旅行派进行账号注册，内容及广告发布，信息查阅、互动等所涉及的与旅行派相关的全部行为所订立的权利义务规范。请您务必审慎阅读、充分理解以下各条款内容，您在注册过程中点击“同意”、“下一步”、“注册”按钮，及在完成注册后的登录、使用，均表明您已完全同意并接受本协议，并愿受其约束；同时表明您已完全同意本协议及旅行派公示的各项规则、规范的全部内容，若不同意本协议的相应条款或不同意旅行派所发布的其他协议及声明内容，请您停止注册、停止使用旅行派。如您是未成年人，您还应要求您的监护人仔细阅读本协议，并取得他/他们的同意。</p>
        <span class="term">一、定义</span>
        <span>1.1 您：指提交有效申请并注册后，在旅行派上传、发布、提供链接等以各种形式传播内容（包括文字、图片、音频、视频等）的自然人、法人或其他组织。</span>
        <span>1.2 旅行派：是雪见科技有限公司出品的一款旅行类应用，是基于数据挖掘的个性化推荐引擎。</span>
        <span>1.3 旅行派：是雪见科技有限公司在移动互联网时代，在国内外优质旅游信息内容提供方与广大用户之间搭建的高效、便捷的信息传播与交流的旅行应用。为广大智能终端用户提供个性化旅行推荐，</span>
        <span>1.4 用户：指所有直接或间接使用旅行派提供的相关服务的用户。</span>
        <span class="term">二、服务内容</span>
        <span>2.1旅行派运用自己的系统通过互联网向用户提供丰富的网上资源 和服务，例如：旅游线路信息等，除非另有明确规定，增强或强化目前服务的任何新功能，包括新产品以及 新增加的服务，均无条件地适用本协议。</span>
        <span>2.2 旅行派提供的网络服务如无特别说明均为免费的网络服务，用户使用免费网络服务不必向旅行派支付任何费用。对于收费的网络服 务，旅行派在用户使用之前给予用户明确的提示，只有用户根据提示确认其愿意支付相关费用后，用户才能使用该等收费网络服务。如用户拒绝支付相关费用， 则旅行派有权不向用户提供该等收费网络服务。</span>
        <span>2.3 用户充分理解，旅行派仅提供相关的网络以及软件服务，除此之外与相关网络服务有关的设备（如个人电脑、手机、及其他与接入互联网 或移动网有关的装置）及所需的费用（如为接入互联网而支付的电话费及上网费、为使用移动网而支付的手机费）均应由用户自行负担。</span>
        <span class="term">三、用户个人信息保护</span>
        <span>3.1 您在申请本服务过程中，需要填写一些必要的信息，请保持这些信息的真实、准确、合法、有效并注意及时更新，以便雪见科技有限公司向您提供及时有效的帮助，或更好地为您提供服务。根据相关法律法规和政策，请您填写真实的身份信息。若您填写的信息不完整或不准确，则可能无法使用本服务或在使用过程中受到限制。</span>
        <span>3.2 雪见科技有限公司与用户一同致力于个人信息的保护，保护用户个人信息是雪见科技有限公司的一项基本原则。未经您的同意，雪见科技有限公司不会向其他任何公司、组织或个人披露您的个人信息，但法律法规另有规定的除外。</span>
        <span>3.3 您应对通过本服务了解、接收或可接触到的包括但不限于其他用户在内的任何人的个人信息予以充分尊重，您不应以搜集、复制、存储、传播或以其他任何方式使用其他用户的个人信息，否则，由此产生的后果由您自行承担。</span>
        <span class="term">四、您的权利和义务</span>
        <span>4.1 您保证提供给雪见科技有限公司的注册信息和材料真实、完整、合法、有效，并对所有提供的信息和材料承担全部法律责任。</span>
        <span>4.2 您应按照旅行派公布和提示的规则、流程进行注册操作。注册完成后，应妥善保管、正确和安全地使用账户信息（包括但不限于账号及密码），并对您账户下发生的一切活动承担全部法律责任。您同意在任何情况下不向他人透露账户或密码信息，如账号和密码遭到第三方使用或怀疑他人在使用您的账户或密码等其他任何问题，您有义务及时通知雪见科技有限公司。</span>
        <span>4.3 您保证对在旅行派上传、发布的内容享有合法权益，雪见科技有限公司有权要求您提供相应的权属证明。若您发布的内容发生权利纠纷或侵犯了任何第三方的合法权益，全部的法律责任由您承担。</span>
        <span>4.4 您应遵守本协议的各项条款，正确、适当地使用本服务，如您违反本协议中的任何条款，雪见科技有限公司有权依据本协议终止对您提供服务。同时，雪见科技有限公司保留在任何时候收回旅行派账户、用户名的权利。</span>
        <span>4.5 如果您注册媒体号后1年内不登录该账号，雪见科技有限公司有权回收该账号，以免造成资源浪费，由此带来问题均由您自行承担。</span>
        <span>4.6 您不得利用旅行派账户或媒体平台制作、上传、发布、传播如下法律、法规和政策禁止的内容（该内容是指您使用旅行派过程中所制作、复制、发布、传播的任何内容，包括但不限于账户头像、名称、用户说明等注册信息及其他资料，或文字、语音、图片、视频、图文等发送、回复消息和相关链接页面，以及其他使用旅行派账户或旅行派服务所产生的内容）：</span>
        <ol>
            <li>(1) 反对宪法所确定的基本原则的；</li>
            <li>(2) 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</li>
            <li>(3) 损害国家荣誉和利益的；</li>
            <li>(4) 煽动民族仇恨、民族歧视，破坏民族团结的；</li>
            <li>(5) 破坏国家宗教政策，宣扬邪教和封建迷信的；</li>
            <li>(6) 散布谣言，扰乱社会秩序，破坏社会稳定的；</li>
            <li>(7) 散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</li>
            <li>(8) 侮辱或者诽谤他人，侵害他人合法权益的；</li>
            <li>(9) 含有法律、法规和政策禁止的其他内容的信息。</li>
        </ol>
        <span>4.7 您理解并同意，为保证旅行派的正常运营及用户的良好体验，您不得利用旅行派制作、上传、发布、传播如下内容：</span>
        <ol>
            <li>(1) 含有任何性或性暗示或其他低俗类信息的；</li>
            <li>(2) 骚扰、垃圾广告或信息的；</li>
            <li>(3) 涉及他人隐私、个人信息或资料的；</li>
            <li>(4) 侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利的；</li>
            <li>(5) 含有其他干扰旅行派正常运营和侵犯其他用户或其他第三方合法权益内容的信息。</li>
        </ol>
        <span>4.8 您不得利用旅行派账户和媒体平台进行如下行为（该行为是指使用旅行派账户和旅行派所进行的任何行为，包括但不限于注册登录、账号运营推广以及其他行为）：</span>
        <ol>
            <li>(1) 提交、发布虚假信息，或冒充、利用他人名义的；</li>
            <li>(2) 强制、诱导其他用户关注、点击链接页面或分享信息的；</li>
            <li>(3) 虚构事实、隐瞒真相以误导、欺骗他人的；</li>
            <li>(4) 侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利的；</li>
            <li>(5) 未经雪见科技有限公司书面许可使用插件、外挂或其他第三方工具、服务接入本服务和相关系统；</li>
            <li>(6) 利用旅行派账户和媒体平台从事任何违法犯罪活动的；</li>
            <li>(7) 制作、发布与以上行为相关的方法、工具，或对此类方法、工具进行运营或传播，无论这些行为是否为商业目的；</li>
            <li>(8) 其他违反法律法规规定、侵犯其他用户合法权益、干扰产品正常运营或雪见科技有限公司未明示授权的行为。</li>
        </ol>
        <span>4.9 本协议未授予您使用雪见科技有限公司任何商标、服务标记、标识、域名和其他显著品牌特征的权利。</span>
        <span>4.10 若您需对旅行派内容创作衍生品或投放商业广告，需获得雪见科技有限公司书面授权。</span>
        <span class="term">五、雪见科技有限公司的权利和义务</span>
        <span>5.1 雪见科技有限公司有权审查、核实您的注册信息和材料，如发现该等信息和材料中存在任何问题，可要求您改正或补充相关材料。如果您拒绝改正或补充相关材料或自雪见科技有限公司发出改正通知后15日内未予回复，雪见科技有限公司有权做出不予批准注册申请、账号封禁或删除等处理。</span>
        <span>5.2 雪见科技有限公司为旅行派的开发、运营提供技术支持，并对该平台的开发和运营等过程中产生的所有数据和信息等享有全部权利。</span>
        <span>5.3 雪见科技有限公司不对您在本服务中相关数据的删除或储存失败负责。如果您停止使用本服务或服务被终止或取消，雪见科技有限公司有权自主决定是否从服务器上永久地删除您的数据。服务停止、终止或取消后，雪见科技有限公司没有义务向您返还任何数据。</span>
        <span>5.4 雪见科技有限公司保留随时变更、暂停、限制、终止或撤销旅行派服务的权利，并无需向您承担任何责任。雪见科技有限公司可通过网页公告、电子邮件、电话或信件传送等方式向您发出通知，该等通知在发送时即视为已送达收件人。</span>
        <span>5.5 雪见科技有限公司有权在旅行派投放各种商业广告或商业信息。</span>
        <span class="term">六、知识产权</span>
        <span>6.1 您通过旅行派上传、发布的任何内容的知识产权归属您或原始版权人所有。以上内容您授权雪见科技有限公司使用，雪见科技有限公司在本服务中提供的内容（包括但不限于网页、文字、图片、音频、视频、图表等）的知识产权属于雪见科技有限公司所有。</span>
        <span>6.2 您应当是在注册资料中提交的网站的合法权利人。除非您另有明确表示，您在注册资料的过程中提交网站，即表明您同意授权字节跳动收录、链接您网站中的全部内容，并授权旅行派系统以您的注册账户自动发布。</span>
        <span>6.3 对于您通过上述本协议约定的任何形式在旅行派上传、编辑或发布的任何内容，雪见科技有限公司在全世界范围内不限形式和载体地享有永久的、不可撤销的、免费的、非独家的使用权和转授权的权利，包括但不限于修改、复制、发行、展览、改编、汇编、出版、翻译、信息网络传播、广播、表演和再创作及著作权法等法律法规确定的其他权利，您特别授权雪见科技有限公司以自己名义单独对第三方的侵权行为提起诉讼并获得全额赔偿。雪见科技有限公司无须为此向您给予任何报酬或承担任何义务，也无须另行通知。</span>
        <span>6.4 上述及其他任何本服务包含的内容的知识产权均受到法律保护，未经雪见科技有限公司、用户或相关权利人书面许可，任何人不得以任何形式进行使用或创造相关衍生作品。</span>
        <span class="term">七、法律责任</span>
        <span>7.1 因您提交的注册信息和材料不真实、不完整、不合法或无效等原因，导致或产生的一切法律责任由您承担。雪见科技有限公司有权随时封禁或删除您的平台账号，以及中止或终止为您提供旅行派的相关服务。</span>
        <span>7.2 您理解并同意，旅行派仅为用户提供信息分享、传播及获取的平台，用户必须为自己注册账户下的一切行为负责，包括您所发表内容的真实性、合法性、准确性、有效性，以及承担因平台使用行为产生的结果。您应对旅行派中的内容自行加以判断，并承担因使用内容而引起的所有风险，包括因对内容真实性、合法性、准确性、有效性的依赖而产生的风险。雪见科技有限公司无法且不会对因用户行为而导致的损失或损害承担责任。如果您发现任何人违反本协议规定或以其他不当的方式使用旅行派服务，请立即向旅行派举报或投诉，我们将依法进行处理。</span>
        <span>7.3 您理解并同意，雪见科技有限公司有权依合理判断对违反有关法律法规或本协议规定的行为进行处罚，对违法违规的任何人士采取适当的法律行动，并依据法律法规保存有关信息向有关部门报告等，用户应独自承担由此而产生的一切法律责任。</span>
        <span>7.4 您理解并同意，因您上传、发布的内容或其他在媒体平台上从事的行为导致或产生的第三方主张的任何索赔、要求或赔偿，一切法律责任由您承担。若因此给雪见科技有限公司或第三方造成任何损失，您应负责赔偿并使之免受损害，损失包括但不限于诉讼费用、律师费用、和解费用、罚款或生效法律文书中规定的损害赔偿金额及其他直接或间接支出费用。</span>
        <span>7.5 如果雪见科技有限公司发现或收到他人举报或投诉用户违反本协议约定的，雪见科技有限公司有权不经通知随时对相关内容进行删除，并视行为情节对违规账号处以包括但不限于警告、删除部分或全部订阅用户、限制或禁止使用全部或部分功能、账号封禁甚至注销的处罚，并有权视具体情况而公告处理结果。</span>
        <span class="term">八、其他约定</span>
        <span>8.1 您使用本服务即视为您已阅读并同意受本协议的约束。</span>
        <span>8.2 雪见科技有限公司有权在必要时修改本协议条款，您可以在相关服务页面查阅最新版本的协议条款。如您继续使用旅行派，即意味着同意并自愿遵守修改后的协议。如果您不接受修改后的协议，应当停止使用旅行派服务。</span>
        <span>8.3 您和雪见科技有限公司均是独立的主体，在任何情况下本协议不构成双方之间的代理、合伙、合营或雇佣关系。</span>
        <span>8.4 本协议的成立、生效、履行、解释及纠纷解决，都适用于中华人民共和国的法律。本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。</span>
        <span>8.5 如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决。协商不成时，任何一方均可向雪见科技有限公司所在地有管辖权的人民法院提起诉讼。</span>
        <span>8.6 本协议签订地为中华人民共和国北京市海淀区。</span>
        <span>8.7 本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。</span>
    </div>
    <div class="footer" style="position: relative;">
        <div class="container">
            <p id="p-02">
                <a class="kf" href="mailto://services@@lvxingpai.cn" style="display:block">services@@lvxingpai.cn</a>
                <a class="copyright" style="display:block">©2014 lvxingpai.com</a>
                <a href="http://wap.lvxingpai.com/" target="_blank" style="display:block">手机网页版</a>
            </p>
        </div>
    </div>
    <div class="tools">
        <a class="back_top" title="返回顶部"><img id="img-01" src="/assets/images/register_back_top.png"></a>
        <a href="http://wap.lvxingpai.com/#" class="web_enter" data-toggle="modal" data-target="#login_modal"><img id="img-02" src="/assets/images/register_web.png"></a>
    </div>
</body>
</html>
