@(pid: String, contents: String)
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <title>旅行派——景点体验</title>
    <link href="/assets/stylesheets/reset.css" rel="stylesheet"/>
    <link href="/assets/stylesheets/app.css" rel="stylesheet"/>
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <style>
    body{
      background: #f9faf9;
      width: 100%;
    }
    ul.content{
      background: #f9faf9;
      color: rgb(150,150,150);
      font-size: 18px;
      padding: 14px 18px;
    }
    </style>
  </head>
  <body class="bg_color">
    <ul class="list-column">
      <ul class="content">
        <li>
          <div class="p2"><div>@contents</div></div>
        </li>
      </ul>
    </ul>
    <script>
       $(function(){
       	$("ul li p span").each(function(){
       		$(this).css("font-size","16px");
       		$(this).css("color","rgb(59,50,50)");
            $(this).css("background","#f9faf9");
            $(this).css("font-family","Microsoft YaHei");
            $(this).css("line-height","28px");
            $(this).css("word-break","break-word");
       	})
       })
	</script>
  </body>
</html>