@(pid: String, tips: Seq[models.geo.DetailsEntry])
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <title>旅行派——景点游玩小贴士</title>
    <link href="/assets/stylesheets/reset.css" rel="stylesheet"/>
    <link href="/assets/stylesheets/app.css" rel="stylesheet"/>
    <script src="/assets/javascripts/jquery-1.11.1.min.js"></script>
    <style>
    body{
    width: 100%;
    }
    ul.content{
    background: #f9faf9;
    color: rgb(150,150,150);
    font-size: 18px;
    padding: 14px 18px;
    line-height: 22px;
    }
    </style>
  </head>
  <body class="bg_color">
    <ul class="list-column">
      <ul class="content">
        @for(tip <- tips) {
          <li>
            <div class="p2">
              <h1 class="t2">@tip.getTitle</h1>
              @tip.getDesc
            </div>
          </li>
        }
      </ul>
    </ul>
    <script>
        $(function(){
	   	   $("ul li").each(function(index){
	   	   	   if(index == 0){
	   	   	   	$(this).find(".p2 h1.t2").css("margin-top","0px");
	   	   	   }
	   	   })
	   })
    </script>
  </body>
</html>